header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 2em;
  background: linear-gradient(300deg, #536bff 0, #292a73);
  border-bottom: 2px solid #f4c700;
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 1em;
  font-size: 1.5em;
  color: #f4c700;
}
